<body class = "body">
  <h1>MEMORIAL</h1>
          
  <div class="row">
    <form class= "form" [formGroup]= "form" novalidate (ngSubmit) = "save()">


        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center" >
            <div fxFlex="25%"  *ngFor="let imagePath of imageArray">
              <img  mat-card-image class="img" src="{{imagePath.image}}">
              <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <span fxFlex="80%">Type {{imagePath.type}}</span>
               
              </mat-card-title>
            </div>
        </div>

        <div class = "inputbox">
                <div class="form-group">
                  
                      <mat-form-field >
                          <mat-label>Select an option</mat-label>
                          <mat-select  formControlName="memorialType" [(value)]="selected">
                            
                            <mat-option  *ngFor="let memorial of imageArray" value="{{memorial.type}}">Type {{memorial.type}}</mat-option>
                            </mat-select>
                          <mat-error *ngIf="form.get('memorialType').hasError('required')">You must select</mat-error>
                        </mat-form-field>

                </div>

                <div class="form-group"> 
                    

                        <mat-form-field  >
                            <input formControlName="memorialQty"  matInput  placeholder="Enter the QTY" type="number">
                            <mat-error *ngIf="form.get('memorialQty').hasError('min')">Enter a valid Quantity</mat-error>
                            <mat-error *ngIf="form.get('memorialQty').hasError('required')">You must enter a value</mat-error>
                          </mat-form-field>

                  <!-- <label for="colFormLabel" class="control-label">Quantity</label>
                  <input formControlName="foodQty" type="number" min="0" required class="form-control" id="colFormLabel"  placeholder="Qty"> -->
                </div>

                <div class="button-row">
                    
                    <button mat-raised-button type="submit">Get Quote</button>
                    <button mat-raised-button type="reset" >Cancel</button>
                  </div>
        </div>
  </form>
  
</div> 
<router-outlet></router-outlet>
</body>

