.body
{
  background: url('/assets/asset/img/v1.jpg');
  background-repeat: no-repeat;
 background-size: 100% 100%;
 position: cover; 
 height: 2000px;
 overflow:hidden;
 overflow-y: auto;
}.form
{
    padding-left: 150px;
    padding-top: 30px;
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #FFFFFF	 !important;
    font-size: 18px !important;
    /*font-weight: bold !important;*/
   
   }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FFFFFF !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #FFFFFF !important;
  } 
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #FFFFFF!important;;
  }
  ::ng-deep.mat-select-value {
  
    color: #FFFFFF  !important;
    font-size: 20px;
    font-weight: bold;
   } 
  .mat-form-field {
    width: 40%;
  }
  .mat-raised-button 
  {
    left: 100px;
    color: #371503;
    padding: 3px 18px;
    display: inline;
    background: url('/assets/asset/img/v.jpg');
    font-size: 20px;
    font-weight: bold;
  }
.zoom {
    background: url('/assets/asset/img/v.jpg');
  
  margin: 30px 100px;
  transition: transform .2s;
  width: 500px;
  height: 70px;
  
  /* margin-bottom: 40px; */
  border: 2px solid #0D0317;
  border-radius: 6px;
 
 
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.name
{
    padding-top : 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.mat-button
{
    left: 150px;
    top : 10px;
    color: #d1997b;
    padding: 3px 18px;
    display: inline;
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
}



/* h3 {
  color: #95A1DC;
  
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  padding-left: 100px;
  margin-bottom: 20px;
} */
