<body class = "body">
  <h1>SOUND</h1>
        <form class= form [formGroup]= "form" novalidate (ngSubmit) = "save()">
                <div class="form-group">


                        <mat-form-field >
                                <mat-label>Select Stage Size</mat-label>
                                <mat-select  formControlName="stagesize" [(value)]="sizeselected">
                                  
                                  <mat-option  *ngFor="let size of soundArray" value="{{size.stage_size}}">{{size.stage_size}}</mat-option>
                                  
                                 
                                </mat-select>
                                <mat-error *ngIf="form.get('stagesize').hasError('required')">You must select</mat-error>
                              </mat-form-field>

                    </div>
          <div class="form-group">

                <mat-form-field >
                        <mat-label>Select an option</mat-label>
                        <mat-select  formControlName="type" [(value)]="typeselected">
                          
                          <mat-option value="Indoor">Indoor</mat-option>
                          <mat-option value="Outdoor">Outdoor</mat-option>
                          
                         
                        </mat-select>
                        <mat-error *ngIf="form.get('type').hasError('required')">You must select</mat-error>
                      </mat-form-field>

          </div>
             
          
          <div class="button-row">
           
            <button mat-raised-button type="submit">Get Quote</button>
            <button mat-raised-button type ="reset">Cancel</button>
          </div>
    
      </form>
        
</body>