.body
{
 background: url('/assets/asset/img/lll.jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 position: cover; 
 height: 586px;
 overflow:hidden;
 overflow-y: auto;
}
.row
{
    padding-left: 100px;
    padding-top: 150px;
}